body {
  background-color: rgb(191, 197, 203);
}

@media screen and (max-width: 768px) {
  .portfolio {
    width: 600px;
    padding: 50px;
  }
  .form {
    width: 600px;
  }
  .main-portfolio {
    padding: 50px;
  }
}

.container {
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.card {
  display: inline-block;
}

h3 {
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  color: lightslategrey
}

.card-text {
  text-align: justify;
}

.left {
  text-align: left;
}

.fixed-bottom {
  height: 5%;
}

.navbar-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}